<div class="company-table">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.l1_declaree }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siret">
      <mat-header-cell *matHeaderCellDef>Numéro de Siret</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.siret }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="apet700">
      <mat-header-cell *matHeaderCellDef>Activité</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.apet700 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.fields.l4_normalisee ? element.fields.l4_normalisee + ',': '' }}
        {{ element.fields.codpos }} {{ element.fields.libcom }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dcren">
      <mat-header-cell *matHeaderCellDef>Date de création</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fields.dcren | date:'dd/MM/yyyy' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="libnj">
      <mat-header-cell *matHeaderCellDef>Statut juridique</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fields.libnj }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tca">
      <mat-header-cell *matHeaderCellDef>Chiffre d'affaires</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fields.libtca }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tefet">
      <mat-header-cell *matHeaderCellDef>Effectifs</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fields.libtefen }}</mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z1 " #paginator
                 [length]="dataSource.resultNumber"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>


