<div class="company-table">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.l1_declaree }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siret">
      <mat-header-cell *matHeaderCellDef>Numéro de Siret</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.siret }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.l4_normalisee }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>Ville</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fields.libcom }}</mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z1 " #paginator
                 [length]="dataSource.resultNumber"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>


