.bold{
  Font-Weight: Bold;
}
.light-gray{
  background-color: #e6e6e6 ;
}

table{
  margin: 0 25px 0 25px;
}

mat-row:nth-child(odd){
  background-color:#efefef;
}
mat-header-row{
  background-color:#d8d8d8;
}

.company-table {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 300px;
  max-width: 100%;
  padding: 1%;
}

.mat-table {
  overflow: auto;
}


.mat-header-row, .mat-row {
  min-width: 1000px;
}

.example-loading-shade {
  height: 5px;
}

