@import "~@angular/material/theming";

@include mat-core();

.yellow-line {
  $filterColor: #ff9800;
  $candy-app-primary: mat-palette($mat-orange);
  $candy-app-accent: mat-palette($mat-orange);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);

  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-yellow {
    color: white;
    background-color: $filterColor;
  }
}

.green-line {
  $filterColor: #8BC34A;
  $candy-app-primary: mat-palette($mat-light-green);
  $candy-app-accent: mat-palette($mat-light-green);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-green {
    color: white;
    background-color: $filterColor;
  }
}

.dark-purple-line {
  $filterColor: #673AB7;
  $candy-app-primary: mat-palette($mat-deep-purple);
  $candy-app-accent: mat-palette($mat-deep-purple);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-dark-purple {
    color: white;
    background-color: $filterColor;
  }
}

.red-line {
  $filterColor: #f44336;
  $candy-app-primary: mat-palette($mat-red);
  $candy-app-accent: mat-palette($mat-red);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-red {
    color: white;
    background-color: $filterColor;
  }
}

.light-purple-line {
  $filterColor: #9C27B0;
  $candy-app-primary: mat-palette($mat-purple);
  $candy-app-accent: mat-palette($mat-purple);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-purple {
    color: white;
    background-color: $filterColor;
  }
}

.light-blue-line {
  $filterColor: #03A9F4;
  $candy-app-primary: mat-palette($mat-light-blue);
  $candy-app-accent: mat-palette($mat-light-blue);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-blue {
    color: white;
    background-color: $filterColor;
  }
}

.dark-blue-line {
  $filterColor: #3F51B5;
  $candy-app-primary: mat-palette($mat-indigo);
  $candy-app-accent: mat-palette($mat-indigo);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-dark-blue {
    color: white;
    background-color: $filterColor;
  }
}

.pink-line {
  $filterColor: #E91E63;
  $candy-app-primary: mat-palette($mat-pink);
  $candy-app-accent: mat-palette($mat-pink);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-pink {
    color: white;
    background-color: $filterColor;
  }
}

.orange-line {
  $filterColor: #ff5722;
  $candy-app-primary: mat-palette($mat-deep-orange);
  $candy-app-accent: mat-palette($mat-deep-orange);

  // The warn palette is optional (defaults to red).
  $candy-app-warn: mat-palette($mat-red);

  // Create the theme object (a Sass map containing all of the palettes).
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
  color: $filterColor;
  border-left: 4px solid $filterColor;
  & .badge-orange {
    color: white;
    background-color: $filterColor;
  }
}

.filter {
  padding: 10px 10px 10px 10px;
  flex: 1;
  background-color: whitesmoke;
  & p {
    font-size: 10px;
  }
  & h6 {
    margin: 0;
    font-size: 15px;
  }
  mat-form-field {
    &.mat-form-field {
      font-size: 13px;
      width: 100%;
    }
  }
  .badge {
    margin-right: 12px;
  }

}


.result {
  vertical-align: center;
  background-color: whitesmoke;
  h3 {
    color: #2569b0;
    font-size:20px;
  }
}

