.yellow-line {
  border-left: 4px solid #ff9800;
}

.green-line {
  border-left: 4px solid #9acb00;
}

.dark-purple-line {
  border-left: 4px solid #6534CC;
}

.light-purple-line {
  border-left: 4px solid #a83acd;
}

.light-blue-line {
  border-left: 4px solid #1ba0e5;
}

.dark-blue-line {
  border-left: 4px solid #3567ca;
}

.pink-line {
  border-left: 4px solid #cb308b;
}

.orange-line {
  border-left: 4px solid #cc5200;
}

.filter {
  padding: 10px 10px 10px 10px;
  vertical-align: center;
  flex: 1;
  background-color: whitesmoke;

  & h4 {
    color: dimgrey;
    font-size: 12px;
    margin-left: 25px;
  }
  & h3 {
    margin-left: 11px;
    color: #2569b0;
  }

  & span {
    color: #286cad;
  }
}

mat-form-field {
  &.mat-form-field {
    font-size: 13px;
    width: 100%;
  }
}
