
  <div class="filter" fxFlex="5">
    <h3><span>216</span> Résultats</h3>
  </div>
  <div class="yellow-line filter" fxFlex>
    <h6>Activiter (code APE)</h6>
    <div *ngIf="filters.apet700">
      <i (click)="removeFilter('apet700')" class="material-icons">close</i>{{filters.apet700.data}}
      <span class="badge badge-secondary">{{filters.apet700.nhits}}</span>
    </div>
    <mat-form-field *ngIf="filters.apet700 === undefined">
      <input #apeCodeInput (keyup.enter)="addFilter('apet700', apeCodeInput.value, $event); apeCodeInput.value = ''"
             matInput name="apeCodeFilter" type="text" placeholder="Ajouter une activité"/>
    </mat-form-field>
  </div>
  <div class="green-line filter" fxFlex>
    <h6>Catégorie d'entreprise</h6>
    <div *ngIf="filters.categorie">
      <i (click)="removeFilter('categorie')" class="material-icons">close</i><span>{{filters.categorie.data}}</span>
    </div>
    <mat-form-field *ngIf="filters.categorie === undefined">
      <input #categInput (keyup.enter)="addFilter('categorie', categInput.value, $event); categInput.value = ''"
             matInput name="apeCodeFilter" type="text" placeholder="Ajouter une catégorie d'entreprise"/>
    </mat-form-field>
  </div>
  <div class="light-blue-line filter" fxFlex>
    <h6>Département</h6>
    <div *ngIf="filters.depet">
      <i (click)="removeFilter('depet')" class="material-icons">close</i><span>{{filters.depet.data}}</span>
      <span class="badge badge-secondary">{{filters.depet.nhits}}</span>
    </div>
    <mat-form-field *ngIf="filters.depet === undefined">
      <input #departmentInput
             (keyup.enter)="addFilter('depet',departmentInput.value, $event); departmentInput.value = ''" matInput
             name="departmentFilter" type="text" placeholder="Ajouter un département"/>
    </mat-form-field>
  </div>
  <div class="dark-blue-line filter" fxFlex>
    <h6>Comunne</h6>
    <div *ngIf="filters.codpos">
      <i (click)="removeFilter('codpos')" class="material-icons">close</i><span>{{filters.codpos}}</span>
    </div>
    <mat-form-field *ngIf="filters.postal_code === undefined">
      <input #postalCodeInput
             (keyup.enter)="addFilter('codpos', postalCodeInput.value, $event); postalCodeInput.value = ''" matInput
             name="postalCodeIFilter" type="text" placeholder="Ajouter une commune"/>
    </mat-form-field>
  </div>
  <div class="dark-purple-line filter" fxFlex>
    <h6>Année de création</h6>
    <div *ngIf="filters.dcret">
      <i (click)="removeFilter('dcret')" class="material-icons">close</i><span>{{filters.dcret}}</span>
    </div>
    <mat-form-field *ngIf="filters.dcret === undefined">
      <input #dcretInput
             (keyup.enter)="addFilter('dcret', dcretInput.value, $event); dcretInput.value = ''" matInput
             name="postalCodeIFilter" type="text" placeholder="Ajouter une année de création"/>
    </mat-form-field>
  </div>
  <div class="light-purple-line filter" fxFlex>
    <h6>Status juridique</h6>
    <div *ngIf="filters.sigle">
      <i (click)="removeFilter('sigle')" class="material-icons">close</i><span>{{filters.sigle}}</span>
    </div>
    <mat-form-field *ngIf="filters.sigle === undefined">
      <input #legalFormInput (keyup.enter)="addFilter('sigle', legalFormInput.value, $event); legalFormInput.value = ''"
             matInput name="legalFormFilter" type="text" placeholder="Ajouter un statut juridique"/>
    </mat-form-field>
  </div>
  <div class="pink-line filter" fxFlex>
    <h6>Effectifs</h6>
    <div *ngIf="filters.libtefen">
      <i (click)="removeFilter('libtefen')" class="material-icons">close</i><span>{{filters.libtefen}}</span>
    </div>
    <mat-form-field *ngIf="filters.libtefen === undefined">
      <input #libtefenInput (keyup.enter)="addFilter('sigle', libtefenInput.value, $event); libtefenInput.value = ''"
             matInput name="legalFormFilter" type="text" placeholder="Ajouter un effectif"/>
    </mat-form-field>
  </div>
  <div class="orange-line filter" fxFlex>
    <h6>Région</h6>
    <div *ngIf="filters.libreg_new">
      <i (click)="removeFilter('libreg_new')" class="material-icons">close</i><span>{{filters.libreg_new}}</span>
    </div>
    <mat-form-field *ngIf="filters.libreg_new === undefined">
      <input #libregInput (keyup.enter)="addFilter('libreg_new', libregInput.value, $event); libregInput.value = ''"
             matInput name="legalFormFilter" type="text" placeholder="Ajouter une région"/>
    </mat-form-field>
  </div>

