h1 {
  color: darkblue;
}

a {
  color: gray;
  font-size: 13px;
}

nav.navbar.navbar-default {
  background-color: whitesmoke;
}

td {
  font-size: 11px;
}

.background-tabs {
  background-color: #e1e1e1;
}

.background-tabs span {
  margin: 15px;
}

.background-tabs ul {
  margin-left: 35px;
}

.logo {
  height: 28px;
  margin-top: 14px;
  margin-left: 15px;
}

.nav-link:hover {
  border: none;
}

a.active {
  background-color: white;
  border-radius: unset;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-tabs li {
  margin-top: 15px;
}

.menu-filter {
  height: 100%;
  width: 100%;
}

.example-container {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  width: 300px;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-header2 {
  background-color: #E1E1E1;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
}

mat-toolbar div p {
  @media screen and (max-width: 991px) {
    text-align: center;
    margin: 0;
  }
}

p {
  margin: 0;
  font-size: 13px;
}

.margin {
  margin: 0 30px 0 30px;
}

.logo {
  @media screen and (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    margin-top: 20px;
  }
}




