<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="row">
          <div class="col-md-5">
            <a class="navbar-brand" href="">openannuaire.fr</a>
          </div>
          <div class="col-md-5">
            <app-search-box (onSearchCompanyByName)="searchcompanyByName($event)"></app-search-box>
          </div>
          <div class="col-md-2">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true">aide</span>
          </div>
        </div>
      </div>
    </div>
</nav>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Tableau</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Carte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Export des données</a>
  </li>

</ul>

<br>
<br>
<br>

<div class="row">
  <app-menu-filter (onNewFilter)="convertFilterToCompany($event)" class="col-md-2"></app-menu-filter>
  <app-table-firm [companies]="companies" class="col-md-9"></app-table-firm>

</div>
