<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="row">
          <div class="col-md-5">
            <a class="navbar-brand" href=""> <img class="logo" src='assets/logo.png'> </a>
          </div>
          <div class="col-md-5">
            <app-search-box (onSearchCompanyBy)="searchCompanyBy($event)"></app-search-box>
          </div>
          <div class="col-md-2">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true">aide</span>
          </div>
        </div>
      </div>
    </div>
</nav>
<div class="row background-tabs">
  <span>10 848 086 entreprises au 15/11/2017</span>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/tableau">Tableau</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Carte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Export des données</a>
    </li>
  </ul>
</div>

<br>
<br>
<br>

<div class="row">
  <iframe src="https://public.opendatasoft.com/explore/embed/dataset/sirene/map/?q=codpos:60270" width="400" height="300" frameborder="0"></iframe>
  <app-menu-filter (onNewFilter)="convertFilterToCompany($event)" class="col-md-2"></app-menu-filter>
  <router-outlet ></router-outlet>
</div>
