<h3>Formats de fichiers plats</h3>
<ul>
  <li>
    CSV <a rel="nofollow" href="https://data.opendatasoft.com/explore/dataset/base-sirene@datanova/download/?format=csv&timezone=Europe/Berlin">Jeu de données entier</a>
  </li>
  <li>
    JSON <a rel="nofollow" href="https://data.opendatasoft.com/explore/dataset/base-sirene@datanova/download/?format=json&timezone=Europe/Berlin">Jeu de données entier</a>
    JSON <a rel="nofollow" [href]=exportjson download="download.json">Jeu de données filtrer</a>
  </li>
  <li>
    EXEL <a rel="nofollow" href="https://data.opendatasoft.com/explore/dataset/base-sirene@datanova/download/?format=xls&timezone=Europe/Berlin">Jeu de données entier</a>
  </li>
</ul>
